article {
    border: 1px solid gray;
    max-width: 290px;
    max-height: 100vw;
}

section:first-child{
    width: 290px;
    height: 200px;
}

img{
    width: inherit ;
    height: inherit ;
    background-color: grey;
    padding: 0%;
}

section > h3, section:nth-child(2), footer{
    padding: 10px;
    border: 1px solid gray;
    margin: 0px;
}

