body {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
}

@media (max-width: 768px) {
    .card1, .card2, .card3 {
        max-width: calc(100% / 2)
    }
    .card {
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {
    .card1, .card2, .card3 {
        max-width: 100%;
    }
    .card {
        flex-wrap: wrap;
    }
}

