body > nav {
    width: 100%;
    height: 64px;
    background-color: grey;
}

nav > ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    max-height: 100%;
}

ul > li {
    position: relative;
    display: inline-block;
    margin: 1.5% 1.5%;
    font-family: Arial, Helvetica, sans-serif;
}

li > h1, h2 {
    margin: auto;
}

ul > li:last-child {
    float: right;
    height: 100%;
}

li > input {
   height: 100%;
}

.search  {
    height: 100%;
    color: rgb(162, 255, 22);
    border: 2px solid rgb(162, 255, 22);
    background-color: rgb(194, 194, 194);
}

.search:hover {
    background-color: rgb(162, 255, 22);
    color: gray;
}


li > h2 > a {
    text-decoration: none;
    text-align: center;
    color: black;
}

